h1{
    display: flex;
    justify-content: center;
}
input{
    display: flex;
    margin: auto;
    justify-content: center;
}
label{
    display: flex;
    margin: auto;
    justify-content: center;
}
button{
    display:flex ;
    justify-content: center;
    margin: auto;
}